@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-bg: #0a0a0a;
    --theme-bgSecondary: #171717;
    --theme-main: #e2b714;
    --theme-sub: #646669;
    --theme-subAlt: #2c2e31;
    --theme-text: #d1d0c5;
    --theme-error: #ca4754;
    --theme-accent: #e2b714;
    --theme-accentHover: #c9a312;
    --radius: 0.75rem;
  }

  * {
    @apply border-[var(--theme-subAlt)];
  }

  body {
    background-color: var(--theme-bg);
    color: var(--theme-text);
    font-family: 'JetBrains Mono', monospace;
  }
}
